$color-mode-type: media-query;
$primary: #008551; // kenyan flag green colour

@import "~bootstrap/scss/bootstrap";

@include color-mode(dark) {
  .element {
    color: var(--bs-primary-text-emphasis);
    background-color: var(--bs-primary-bg-subtle);
  }
}

.hide-scrollbars {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* IE 10+ */

  &::-webkit-scrollbar {
    background: transparent; /* Chrome/Safari/Webkit */
    width: 0px;
    display: none;
  }
}

table {
  @extend .table;
  @extend .table-responsive;
  @extend .table-bordered;
}

.cursor-pointer {
  cursor: pointer;
}

.respect-newlines {
  white-space: pre-wrap;
}
